body{
    font-size: 15px
}
h1{
    font-family: 'Big Shoulders Display', cursive;
}

h1{
    
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 50px;
}
button{
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 40px;
    background-color: hsl(0, 0%, 95%);
    border: 10px solid green;
    color: hsl(31, 77%, 52%);
    margin-bottom: 20px;
    padding: 18px 38px

}
p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 30px;
    font-size: 20px;
}
.container{
    background-color: hsl(31, 77%, 52%);
    border: 0px;
    width: 450px;
    height: 600px;
    padding: 35px 40px;

}

@media(max-width: 450px){
    .container{
        background-color: blueviolet;
    }
}


